pandas
numpy
matplotlib
matplotlib-inline
matplotlib-venn
plotly
openpyxl
xlrd
XlsxWriter
pyxlsb
et-xmlfile
PyPDF2
pdfplumber
pdf2image
pdfkit
pypdfium2
pdfminer.six
pdfrw
python-docx
docx2txt
reportlab
fpdf
rarfile
pillow
opencv-python-headless
imageio
pypng
esdk-obs-python==3.25.8
yfinance
tushare
baostock
akshare